<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChannelName" value="Cam1,Cam2,Cam3,Cam4" />
		<add key="WarningThreshold" value="59, 59, 110, 90" />
		<add key="CriticalThreshold" value="95, 95, 120, 100" />
		<add key="NumberOfSensor" value="4" />
		<add key="WifiValue" value="SSD-NAME,PASSWORD" />
		<add key="COMPort" value="COM3" />
		<add key="OtherConfig" value="0, 0, 0, 0" />
	</appSettings>
</configuration>