<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChannelName" value="Cam1,Cam2,Cam3,Cam4" />
		<add key="WarningThreshold" value="59, 59, 110" />
		<add key="CriticalThreshold" value="95, 95, 120" />
		<add key="NumberOfSensor" value="4" />
		<add key="WifiValue" value="SSD-NAME,PASSWORD" />
	</appSettings>
</configuration>