<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ChannelName" value="Cam1,Cam2,Cam3,Cam4" />
		<add key="WarningThreshold" value="59, 59, 110, 90, 59" />
		<add key="CriticalThreshold" value="95, 95, 120, 100, 95" />
		<add key="NumberOfSensor" value="4" />
		<add key="WifiValue" value="SSD-NAME,PASSWORD, 01033331111, 알람발생" />
		<add key="COMPort" value="COM3" />
		<add key="OtherConfig" value="0, 200, 1, 0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>